* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  background-color: #172030
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'ClashDisplay';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/ClashDisplay-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'ClashDisplay';
        font-style: normal;
        font-weight: 600;
        src: url('/fonts/ClashDisplay-Semibold.ttf') format('truetype');
    }
    @font-face {
      font-family: 'ClashDisplay';
      font-style: normal;
      font-weight: 500;
      src: url('/fonts/ClashDisplay-Medium.ttf') format('truetype');
  }
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 40px;
  background: #D9D9D9;
}

.glassmorphism {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}